/* Post Create Component Styles */
.post-create-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  
  .mat-form-field {
    width: 100%;
  } 